# Set the environment to deploy to
# use APP_ENV=production for live
APP_ENV=uat
NOVA_LICENSE_KEY=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_REPLY_TO_ADDRESS=
NOVA_GOOGLE_AUTOCOMPLETE_API_KEY=

# Make sure to create a williampike-<APP_ENV> profile in ~/.aws/config
# E.g.
#
#    [profile williampike-uat]
#    region = ap-southeast-2
#    source_profile = default
#    role_arn = arn:aws:iam::<account.id>:role/PixelFusionAdmin
#    mfa_serial = arn:aws:iam::864680957887:mfa/<your.username>
